:root {
    --accent-color:#D41443;
    --main-text-color:#000000;
    --main-title-color:#D41443;
    --second-title-color:#FFA5BA;
    --title-to-content-marging:50px;
    --typical-padding:32px;
    --padding-in-container:94px;
}